/* тут будем писать стилизацию для нашего основного кода */
 body{
            background: cornflowerblue;
            /* цвет фона */
        }

        h1{ 
            /* первым пишется текст,который оформляем */
            font-size: 4vw;
            /* размер шрифта */
            color: aliceblue;
            /* цвет букв заголовков */
        }

        .homyak_text{
            /* незабыть точку перед текстом!! текст заголовка должен полностью совпадать с тем, 
            который находится в <h1 class="homyak_text">homyak</h1> */
            font-size: 14vw;
            transition: all 1s ease-in-out;
            /* ease-in-out - скорость исчезания и появления другого цвета, так же пишутся секунды и тд */
        }
        .homyak_text:hover{
            color: aqua;
            /* не забыть написать hover - появление цвета при наведении */
            transition: all 1s ease-in-out;
            /* ease-in-out - скорость исчезания и появления другого цвета, так же пишутся секунды и тд */
         }
         .dryg{
            font-size: 3vw;
            color: rgb(0, 0, 0);
            margin-left: 30%;
            /* маргин- внешний отступ */
            padding-left: 30%;
            /* паддинг - внутренний отступ */
         }
         .первый_div{
            /* пишем коробку сюда */
            margin-left: 5%;
            background: rgb(125, 96, 64);
            padding-left: 5%;
            border: 1px solid rgb(179, 251, 250);
            /* бордер - обводка, 1пиксель, солид - обводка будет прямая\функция линий, цвет */

         }

        